._4p23{position:relative}
._5y7m{background-color:transparent;border:0;border-radius:0;padding:0}._5xsl{margin-left:3px;margin-top:1px}._5wvy:hover ._5xsl{visibility:visible}._5xyg{color:#8d949e;display:block;font-weight:bold;margin-top:8px}.__bk:first-child{margin-top:0}

#bootloader_SIKiG{height:42px;}.bootloader_SIKiG{display:block!important;}